@import "../../variables.scss";

.Constructor {
  min-width: 350px;
  margin-bottom: 1rem;
  color: $color-lightgray;
}

.Constructor__container {
  min-height: 80px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Constructor__item {
  width: 100%;
}

.Constructor__option {
  margin-top: 1rem;
}

.Constructor__option-label {
  color: $color-darkgray;
}

.Constructor__option-input {
  margin-left: .5rem;
}
